<!DOCTYPE html>
<html>
<head>
    <link href='css/bootstrap.css' rel='stylesheet' />
    <link href='css/cards.css' rel='stylesheet' />

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <h1 class="title">
            Flashcards From Your Screenshots
            <br>
            <small>Study what you want, when you want</small>
        </h1>
        <!--cards start here-->
        <div class="col-sm-12 ">
        <div class="col-sm-4">
                <!--    Here comes your card          -->
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="images/dandy.jpg"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="images/flash_cards_Fotor_Fotor.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Flash Card</h3>
                                <p class="profession">Question</p>
                                <h5><i class="fa fa-map-marker fa-fw text-muted"></i> How long has it been?</h5>

                            </div>

                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">Flash Grabber<br>Flashcards From Your Screenshots<br>Study what you want,
                                when you want</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Answer</h4>
                                <p>In the project since 2011</p>
                                </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="" class=""><i class=""></i>pass</a>
                                <a href="" class=""><i class=""></i>fail</a>

                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
            <div class="col-sm-4">
                <!--    Here comes your card          -->
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="images/dandy.jpg"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="images/flash_cards_Fotor_Fotor.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Flash Card</h3>
                                <p class="profession">Question</p>
                                <h5><i class="fa fa-map-marker fa-fw text-muted"></i> How long has it been?</h5>

                            </div>

                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">Flash Grabber<br>Flashcards From Your Screenshots<br>Study what you want,
                                when you want</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Answer</h4>
                                <p>In the project since 2011</p>
                                </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="" class=""><i class=""></i>pass</a>
                                <a href="" class=""><i class=""></i>fail</a>

                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
            <div class="col-sm-4">
                <!--    Here comes your card          -->
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="images/dandy.jpg"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="images/flash_cards_Fotor_Fotor.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Flash Card</h3>
                                <p class="profession">Question</p>
                                <h5><i class="fa fa-map-marker fa-fw text-muted"></i> How long has it been?</h5>

                            </div>

                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">Flash Grabber<br>Flashcards From Your Screenshots<br>Study what you want,
                                when you want</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Answer</h4>
                                <p>In the project since 2011</p>
                                </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="" class=""><i class=""></i>pass</a>
                                <a href="" class=""><i class=""></i>fail</a>

                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
            <div class="col-sm-4">
                <!--    Here comes your card          -->
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="images/dandy.jpg"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="images/flash_cards_Fotor_Fotor.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Flash Card</h3>
                                <p class="profession">Question</p>
                                <h5><i class="fa fa-map-marker fa-fw text-muted"></i> How long has it been?</h5>

                            </div>

                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">Flash Grabber<br>Flashcards From Your Screenshots<br>Study what you want,
                                when you want</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Answer</h4>
                                <p>In the project since 2011</p>
                                </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="" class=""><i class=""></i>pass</a>
                                <a href="" class=""><i class=""></i>fail</a>

                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
             <div class="col-sm-4">
                <!--    Here comes your card          -->
                 <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="images/dandy.jpg"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="images/flash_cards_Fotor_Fotor.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Flash Card</h3>
                                <p class="profession">Question</p>
                                <h5><i class="fa fa-map-marker fa-fw text-muted"></i> How long has it been?</h5>

                            </div>

                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">Flash Grabber<br>Flashcards From Your Screenshots<br>Study what you want,
                                when you want</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Answer</h4>
                                <p>In the project since 2011</p>
                                </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="" class=""><i class=""></i>pass</a>
                                <a href="" class=""><i class=""></i>fail</a>

                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>
             <div class="col-sm-4">
                <!--    Here comes your card          -->
                 <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="images/dandy.jpg"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="images/flash_cards_Fotor_Fotor.jpg"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">Flash Card</h3>
                                <p class="profession">Question</p>
                                <h5><i class="fa fa-map-marker fa-fw text-muted"></i> How long has it been?</h5>

                            </div>

                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">Flash Grabber<br>Flashcards From Your Screenshots<br>Study what you want,
                                when you want</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Answer</h4>
                                <p>In the project since 2011</p>
                                </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="" class=""><i class=""></i>pass</a>
                                <a href="" class=""><i class=""></i>fail</a>

                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->
            </div>

        </div>
    </div>
</div>


    <div class="space-200"></div>

</body>
</html>