



<div id="puthowhere">

    <h4>Directions are as follows</h4>
    <p>When you are reading something you would like to learn, simply take a screen shot.
    Then you can save that screen shot to your device or even to the cloud.  Later, when you are ready
    you can use that image to make a flash card.  Flash Grabber will do the work of pulling the words out
    of the image, all you have to do is indicate what part of the text is the question, and what part is the answer.
    </p>
    <button class="closeGame">Close Help</button>

</div>
<script type="text/javascript">
         $('button.closeGame').on('click', function () {
           alert("Hope that helped!");
            $('#puthowHere').html('');

        });
</script>

