{% extends "base_template.html" %}

{% load staticfiles %}
{% block content %}
    <link href="{% static 'css/qa.css' %}" type="text/css" rel="stylesheet"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" />


    <title></title>
<div class="wizard-container">
    <form action="" method="">
    <div class=" wizard-card ct-wizard-blue" id="wizard">
      	<div class="wizard-header">
            <h3>
               <b>BUILD</b> YOUR CARD <br>
               <small>Easily add text to a flash card.</small>
            </h3>
        </div>
        <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-radio">
                            <div class="icon" rel="tooltip" title="Choose how you want the question formatted">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <h6>Choose 5W's</h6>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="choice">
                        <form id="bootstrapSelectForm" method="post" class="form-horizontal">


                            <div class="form-group">
                                    <style type="text/css">
                                    #bootstrapSelectForm .selectContainer .form-control-feedback {
                                        /* Adjust feedback icon position */
                                        right: -15px;
                                    }
                                    </style>
                                    <select name="language" class="form-control" id="list">
                                        <option value="what">What</option>
                                        <option value="how">How</option>
                                        <option value="who">Who</option>
                                        <option value="when">When</option>
                                        <option value="where">Where</option>
                                    </select>
                                    <select name="language" class="form-control" id="list2">
                                        <option value="are">are</option>
                                        <option value="is">is</option>
                                    </select>

                            </div>
                        </form>
                        </div>
                    </div>
                </div>
        </div>


        <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-radio">
                            <div class="icon" rel="tooltip" title="As you select text, the Question form below will auto-populate.">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <h6>Select Text</h6>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <h3>Text From Your Image</h3>
                        <div id="ocr">{{ textFile }}</div>
                    </div>
                </div>
        </div>
        <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
<div class="col-sm-2">
                        <div class="choice" data-toggle="wizard-radio">
                            <div class="icon" rel="tooltip" title="Pretty sweet, eh!.">
                                <i class="fa fa-pencil"></i>
                            </div>
                            <h6>Select Text</h6>
                        </div>
                    </div>

<form id="CreateCardForm" name="CreateCardForm"  action="/createCard/" method="POST">{% csrf_token %}

<div class="col-sm-5">
    <label class="qaLabel">Question</label><br>
  <textarea class="qa" id="q" name="questionText"></textarea>
   </p>
</div>
    <div class="col-sm-5">
    <label class="qaLabel">Answer</label><br>
    <textarea class="qa" id="a" name="answerText"></textarea>
</div>
<div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="col-sm-5 col-sm-offset-1">
    <button rel="tooltip" title="Click to create your card" class="btn btn-default btn-lg btn-fill"  onclick="createCard"><i class="fa fa-bolt"></i> Create Card</button>
    </div>
</form>
<div class="col-sm-5 col-sm-offset-1">
    <button rel="tooltip" title="Click to erase your card" class="btn btn-default btn-lg btn-fill" id="clearCard" name="clearCard" onclick="ClearCard()"><i class="fa fa-bolt"></i> Erase Card</button>
</div>

</div>
</div>

</div>
</div>
</div>




    <!--script src="{% static 'js/selectmytext.js' %}"></script-->

{% endblock content %}