{% extends "base_template.html" %}

{% load staticfiles %}
{% block content %}
    <link href="{% static 'css/qa.css' %}" type="text/css" rel="stylesheet"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.min.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/css/bootstrap-select.min.css" />


    <title></title>
<div>
<h3 rel="tooltip" title="Choose how you want the question formatted">Step 1: Compose your question</h3>

<style type="text/css">
#bootstrapSelectForm .selectContainer .form-control-feedback {
    /* Adjust feedback icon position */
    right: -15px;
}
</style>

<form id="bootstrapSelectForm" method="post" class="form-horizontal">


    <div class="form-group">

        <div class="col-sm-5 selectContainer">
            <select name="language" class="form-control" id="list">
                <option value="what">What</option>
                <option value="how">How</option>
            </select>
            </div>

            <div class="col-sm-5 selectContainer">
            <select name="language" class="form-control" id="list2">
                <option value="are">are</option>
                <option value="is">is</option>
            </select>
        </div>
</div>
</form>


{#<select id="list">#}
{#  <option value="what">What</option>#}
{# <option value="how">How</option>#}
{#</select>#}
{##}
{#<select id="list2">#}
{#  <option value="are">are</option>#}
{# <option value="is">is</option>#}
{#</select>#}


    <h3 rel="tooltip" title="As you select text, the Question form below will auto-populate.">
        Step 2: Select some text for the Question
    </h3>
    <h3 rel="tooltip" title="Select more text to populate the Answer form.">Step 3: Select some text for the Answer</h3>
        <div id="ocr">{{ textFile }}</div>


<form id="CreateCardForm" name="CreateCardForm"  action="/createCard/" method="POST">{% csrf_token %}

<p>
    <label class="qaLabel">Question</label><br>
  <textarea class="qa" id="q" name="questionText"></textarea>
   </p>
<p>
    <label class="qaLabel">Answer</label><br>
    <textarea class="qa" id="a" name="answerText"></textarea>
</p>
{#<h3 class="step4" >Step 4: Click to create your card Or click to start over</h3>#}
    <button rel="tooltip" title="Click to create your card" class="btn btn-default btn-lg btn-fill"  onclick="createCard"><i class="fa fa-bolt"></i> Create Card</button>

</form>
    <button rel="tooltip" title="Click to erase your card" class="btn btn-default btn-lg btn-fill" id="clearCard" name="clearCard" onclick="ClearCard()"><i class="fa fa-bolt"></i> Erase Card</button>
{#    <a href="/">Go back and select another file</a>#}

</div>


    <!--script src="//code.jquery.com/jquery-1.11.0.min.js"></script-->
    <!--script src="{% static 'js/selectmytext.js' %}"></script-->
<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script-->
    <!--script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script-->
    <!--script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.2/js/bootstrap-select.min.js"></script-->
{% endblock content %}