{% extends "base_template.html" %}
{% load staticfiles %}
{% block content %}



<div class="col-sm-12 ">
<h3 class="you_saved">You Just Saved This Card!</h3>
        <div class="col-sm-4">
                <!--    Here comes your card          -->
                <div class="card-container">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="{% static 'images/dandy.jpg' %}"/>
                        </div>
                        <div class="user">
                            <img class="img-circle" src="{% static 'images/flash_cards_Fotor_Fotor.jpg' %}"/>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name"><i class="fa fa-bolt"></i> Question</h3>

                                <h5>{{ q }}?</h5>

                            </div>

                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">Flash Grabber<br>Flashcards From Your Screenshots<br>Study what you want,
                                when you want</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center"><i class="fa fa-bolt"></i> Answer</h4>
                                <p>{{ a }}.</p>
                                </div>
                        </div>
                        <div class="footer">
                            <div class="social-links text-center">
                                <a href="" class="pass"><i class="fa fa-graduation-cap"></i> Pass</a>
                                <a href="" class="fail"><i class="fa fa-thumbs-o-down"></i> Fail</a>
                                <a href="" class="del"><i class="fa fa-times"></i> Del</a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div> <!-- end card-container -->

</div>
</div>

{% endblock content %}